nav {
    background-color: #cdb4db;
    font-family: "Sofia", sans-serif;
    font-size: 20px;
    height: 30px;
    display: flex;
    top:0;
    left: 0;
    right:0;
    align-items: center; 
    justify-content: right; 
    gap: 20px;
    padding-right: 20px;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
}


a:hover {
    background-color: #ffc8dd;
    border-radius: 5px;
    color:#006d77;
}

nav a {
    text-decoration: none;
    color: black;
}
body {
    background-color: #bde0fe;
    font-family: "Trirong", serif; 
    margin: 0;
    text-align: justify;
}
#title h1 {
    margin-top: 60px;
    text-align: center;
}

.disc-container {
    display: flex;
    background-color: #a2d2ff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px;
}
.text {
    font-family: "Trirong", serif;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.image {
    padding: 20px;
    /* border-radius: 8px; */
}

.image img {
    border-radius: 8px;
}
h1 {
    padding-left: 20px;
    text-shadow: 3px 3px 3px #ababab;
}


.footer-container {  
    display: flex;
    font-family: "Sofia", sans-serif;
    justify-content: space-between;
    align-items: center;
    background-color: #cdb4db;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
} 
footer {
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
}


.Contact, .email {  
    margin: 0;
} 


.row {  
    display: flex;
    justify-content: space-between;
    width: 100%; 
    padding: 20px;
    box-sizing: border-box;
    
}  

.houseplant {  
    flex: 1;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #a2d2ff;
    
}  

.h-image img {  
    width: 100%; 
    height: auto;
    border-radius: 8px;
}  
figure {
    width: 100%;
    height: auto;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}


.h-text {  
    padding: 10px;
}

figcaption {
    font-size: 1em;
    margin-top: 5px; 
    color: black;
}
.warning {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #cdb4db;
    padding: 10px;
}

.h-image {
    width: 100%;

}

.h-image img {
    transition: transform 0.3s ease;
    width: 100%; 
    height: auto;
    border-radius: 8px;
}
.h-image:hover img {  

    transform: scale(2.2); 
   
}


/* The About CSS Codes starts from here */

#about-us {
    text-align: center;
    margin-top: 60px;
}
.about-image {
    display: flex;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;

}
 .about-image  img {
    border-radius: 8px;
    border: 1px solid #ddd;
 }
.about {  
    font-family: "Trirong", serif;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    text-align: justify;
} 


/*The Buy.html css style starts from here*/

#Filling {
    text-align: center;
}

.container {
    background-color: #a2d2ff;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.8;
    border: 1px solid #ddd;

}
label {
    display: block;
}

input[type="text"] {
   
    width: 100%;
    height: 40px;
    font-size: 20px;
}
input[type="email"] {
    width: 100%;
    height: 40px;
    font-size: 20px;
}
input[type="number"] {
    width: 100%;
    height: 40px;
    font-size: 20px;
}
#dropdown{
    width: 100%;
    height: 40px;
    font-size: 20px;
}
#phone {
    width: 100%;
    height: 30px;
    font-size: 20px;
}
.button {  
    text-align: center;
}
button {  
    padding: 15px 30px;
    font-size: 18px; 
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #ffc8dd; 
    transition: background-color 0.3s;
}  
button:hover {  
    background-color: #cdb4db;
    font-size: x-large;
} 
#confirm {
    background-color: #a2d2ff;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.8;
    font-size: 18px;
    font-family: "Trirong", serif; 
    border: 1px solid #ddd;

}
